<footer>
      <div class="container-fluid footer">
        <div class="row no-gutters">
          <div class="col-md-3">
                      <?php
$data = date('Y');
echo "<p>© All rigth reserved 2020-$data</p>";
?>
          </div>
          <div class="col-md-9">
            <div class="d-flex flex-row-reverse">
              <ul class="p-2">
                <li><a href="#t"><img src="../../img/social-media/telegram.png" alt="tele"></a></li>
                <li><a href="#f"><img src="../../img/social-media/facebook.png" alt="face"></a></li>
                <li><a href="#i"><img src="../../img/social-media/instagram.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>