<header>
      <div class="container-fluid">
        <div class="row no-gutters menu">
          <!-- Логоготип -->
          <div class="col-md-3">
            <a href="../../index.php" class="logo"><p>No logo</p></a>
          </div>
         <!-- Пункты меню -->
          <div class="col-md-9">
            <nav class="d-flex flex-row-reverse">
              <ul class="p-2">
                <li><a href="../../cgi/Accaunt/login.php"><img src="../../img/acc-logo.png" width="40" height="40" alt="acc-logo"></a></li>
                <li><a href="#nowhere">Что посмотреть</a></li>
                <li><a href="#nowhere">Жанры</a></li>
                <li>
                  <form action="nowhere" method="GET">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Введите название..." aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><img src="../../img/ico-search.png" width="20" height="20" alt="search-img"></button>
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>