<!-- Форма для регистрации -->
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>


			<div class="card-body">
				<form action="signup.php" method="POST">

					<div class="input-group form-group">
						<input type="text" name="login" class="form-control" placeholder="login" required>
					</div>

					<div class="input-group form-group">
						<input type="password" name="password0" class="form-control" placeholder="password" required>
					</div>

					<div class="input-group form-group">
						<input type="password" name="password1" class="form-control" placeholder="repeat password" required>
					</div>

					<div class="input-group form-group">
						<input type="email" name="email" class="form-control" placeholder="email" required>
					</div>


					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>

				</form>
			</div>
		</div>
	</div>