.container{
height: 100%;
align-content: center;
}

.card{
height: 340px;
margin-top: 50px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #FE9E76;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

input{
	margin-top: 10px;
}

.login_btn{
color: black;
background-color: #FE9E76;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

