body{
	font-family: 'Montserrat', sans-serif;
	background-image: url(../img/body-bg.jpg);
	background-repeat: no-repeat;
}
.telegramloginbotton{
	margin-top: 15px;
}
.logo{
	font-size: 40px;
	color: #FE9E76;
	text-decoration: none;
	padding-top: 36.5px;
	padding-top: 30px;
    padding-left: 30px;
    display: block;
}
.logo:hover{
	color: #FE9E76;
}

header div.menu{
	height: 120px;
	background: rgba(0,0,0,0.4);
}
header nav ul{
	list-style-type: none;
}
header nav ul li{
	margin-top: 34px;
	display: inline-block;
	margin-right: 35px;
}
header nav ul a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

header nav ul a:hover{
	color: #FE9E76;
}
header div.main-win p{
	font-size: 23px;
	margin-top: 161.5px;
	color: white;
}
header div.main-win a{
	font-size: 23px;
	margin-top: 161.5px;
	color: white;
	text-decoration: none;
}
header div.main-win a:hover{
	color: #FE9E76;
}

footer{
	margin-top: 50px;
	height: 120px;
	background-color: rgba(0,0,0,0.4);
}
footer div p{
	color: white;
	font-size: 18px;
	padding-top: 47px;
	padding-left: 30px;
}
footer div li{
	margin-left: 10px;
	display: inline-block;
}
footer div li a{
	text-decoration: none;
}
footer div li a img{
	height: 40px;
	width: 40px;
	margin-top: 30px;
	margin-right: 30px;
}


